.doctors-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.doctor-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.doctor-card img{
  display: flex;
  width: 15rem;
}
