.home-container h1{
  color:darkorange;
  font-size: 3rem;
}

.title-doctors, .title-list{
  font-size: 2.5rem;
  color: fuchsia;
}

.doctors-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem;
}

.doctor-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 3rem;
}

.doctor-card img{
  display: flex;
  width: 12rem;
  border-radius: 1rem;
  transition:all .5s;
}

.doctor-card img:hover{
  cursor: pointer;
  transform: scale(1.05);
}

.default-image-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.default-image-container img{
  width: 60%;
  margin: auto;
}

.default-image-container p{
  font-size: 1.5rem;
  font-weight: 700;
}

.listContainers{
  width: 90%;
  margin: auto;
}

.list-container{
  position: relative;
  background-color: #D0DAE9;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  border-radius: 1rem;
  padding: 1rem;
}

.clear-btn{
  display: flex;
  align-items: center;
}

.consulted{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: darkorange;
  padding: 0.8rem 2rem 0;
  font-size: 1.2rem;
  border-radius: 1rem;
  color: white;
}


